<pre>
  components/assets-contentful
</pre>
<p>Handle assets which will be loaded dynamicly from a content provider</p>
<img *ngIf="image" [src]="image.src" [srcset]="image.srcSet" class="demo" />

<p>Handle assets which will be loaded dynamicly from a content provider as background image</p>
<div
  *ngIf="image"
  [ngStyle]="{
    background: 'url(' + image.src + '?w=1000&h=300&fit=fill)',
    backgroundSize: 'cover',
    backgroundRepeat: 'no-repeat',
    backgroundPosition: 'center'
  }"
  class="demo-background"
></div>
<p>
  Handle assets which will be loaded dynamicly from a content provider as background image by a loader component when
  they get into viewport
</p>

<div class="demo-container">
  <sn-image-loader
    [image]="imageForLoader?.imageLoader.image"
    [sizes]="imageForLoader?.imageLoader.sizes"
    imgClass="foo"
    alt="lorem ipsum"
  >
  </sn-image-loader>
</div>

<p>
  Handle assets which will be loaded dynamicly from a content provider as background image by a loader component when
  they get into viewport and show meanwhile a skeleton image / progressive image loader
</p>
<div class="demo-container"></div>
