@import '../../../../style/mixins/breakpoint.scss';
@import '../../../../style/mixins/breakpoint.scss';

:host {
  margin: 0 20px;
}

.demo {
  max-width: 100%;
  height: auto;
  display: block;

  @include breakpoint('xs') {
    width: 300px;
  }
}

.demo-background {
  height: 180px;

  @include breakpoint('xs') {
    height: 300px;
  }
}

.demo-container {
  display: block;
  position: relative;
}
