/* You can add global styles to this file, and also import other style files */
@import './style/base/global.scss';
@import './style/layout/index.scss';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

// Map Example
@import '~mapbox-gl/dist/mapbox-gl.css';
@import '~@mapbox/mapbox-gl-geocoder/lib/mapbox-gl-geocoder.css';

// Demo Styling
pre {
  text-align: left;
  max-width: 300px;
  display: block;
  margin: 0 auto;
  background: #f9f9ff;
  color: #292c33;
  padding: 20px;
  border-radius: 3px;
}
