<div class="container">
  <div class="grid grid--direction-row">
    <div class="grid__child grid__child--size-12">
      <h2>Some Examples</h2>
    </div>
  </div>
  <div class="grid grid--direction-row">
    <div class="grid__child grid__child--size-12">
      <app-async-api></app-async-api>
      <app-async-api-observable></app-async-api-observable>
      <app-assets-static></app-assets-static>
      <app-assets-contentful></app-assets-contentful>
      <app-map></app-map>
    </div>
  </div>
</div>

<!-- <div class="container">
  <div class="grid grid--direction-row">
    <div class="grid__child grid__child--size-12 grid__child--size-8-m grid__child--size-9-l">
      <div>Content</div>
    </div>
  </div>
</div> -->
