:host {
  overflow: hidden;
  display: block;
  position: relative;
}

img {
  width: 100%;
  height: auto;
}

.sn-img-dummy {
  display: block;
  height: 0;
  opacity: 0;
  visibility: hidden;
  width: 0;
}
