<pre>
  components/async-api
</pre>
<p>Calling a API asynchronosly and showing a loading Indicator</p>
<div>
  <mat-form-field>
    <input matInput placeholder="Search..." value="" #search />
  </mat-form-field>
  <button
    mat-stroked-button
    class=""
    style="margin-left: 20px; display: inline-block;"
    (click)="doSearch(search.value)"
  >
    Search
  </button>
</div>

<ng-container *ngIf="!loading; else loadingIndicator">
  <mat-list>
    <mat-list-item *ngFor="let track of iTunes.results">
      <img matListAvatar src="{{ track.thumbnail }}" />
      <h3 matLine>
        <span style="display:none;">{{ track.artistId }}</span>
        <span>{{ track.artistName }}</span>
      </h3>
      <p matLine>
        <span> {{ track.title }} </span>
      </p>
    </mat-list-item>
  </mat-list>
</ng-container>

<ng-template #loadingIndicator>
  <mat-spinner></mat-spinner>
</ng-template>
